@layer cart;

/* Cart-Styling */

body.showCart .cart-container {
  inset: 0 0 0 auto;
}

body.showCart .cart-container {
  opacity: 1;
}

.cart-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  height: min(70%, 50rem);
  max-height: 80vh;
  overflow-y: auto;
  margin-top: calc(100px + var(--space-small));
  margin-right: var(--space-small);
  background-color: var(--color-bg);
  width: min(25rem, 50%);
  position: fixed;
  right: -(min(25rem, 50%));
  font-size: var(--cart-items-font-size);
  z-index: 5;
  transition: all 0.3s ease-in-out;
  border-radius: var(--space-search-section-padding);
  border: 1px solid var(--color-border);
}

.cart-container .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--color-border);
  border-radius: var(--space-search-section-padding);
}

.cart-name {
  font-size: 1.8rem;
}

.cart-container .cart-header .cart-button {
  font-family: inherit;
  position: relative;
  top: -1rem;
  right: -0.25rem;
  color: var(--color-surface);
  font-size: 0.8rem;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  padding: 2px 5px;
  border: 1px solid transparent;
  background-color: var(--color-hover);
  width: 1.5rem;
  height: 1.5rem;
  transition: box-shadow 0.2s linear, all var(--quick-animation) ease-in-out;

  &:hover {
    border: 1px solid var(--color-hover);
    background-color: var(--color-bg);
    color: var(--color-hover);
    cursor: pointer;
  }

  &:active {
    box-shadow: 1px 1px 6px var(--color-hover);
  }
}

.cart-container .cart-items-div {
  height: 70%;
  max-height: 70%;
  overflow-y: auto;
  background-color: var(--color-surface);
}

.cart-container .cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  height: 5rem;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  border-radius: var(--space-search-section-padding);
}

.cart-container .cart-item .item-image {
  overflow: hidden;
}

.cart-container .cart-item .item-image img {
  width: 100%;
}

.cart-container .cart-item .item-name {
  font-weight: 500;
}

.cart-container .cart-item .item-price {
  font-style: italic;
}

.cart-container .cart-item .item-quantity {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cart-container .cart-item .item-quantity span {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  background-color: var(--color-hover);
  color: var(--color-surface);
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.2s linear, all var(--quick-animation) ease-in-out;

  &:hover {
    border: 1px solid var(--color-hover);
    background-color: var(--color-surface);
    color: var(--color-hover);
    cursor: pointer;
  }

  &:active {
    box-shadow: 1px 1px 6px var(--color-hover);
  }

  &:nth-child(2) {
    border: 1px solid transparent;
    background-color: inherit;
    color: inherit;
    cursor: default;
  }

  &:nth-child(2):hover {
    pointer-events: none;
  }

  &:nth-child(2):active {
    pointer-events: none;
    box-shadow: none;
  }
}

.cart-container .total-div {
  display: flex;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--color-border);
  border-radius: var(--space-search-section-padding);
  margin-bottom: 1rem;
  justify-content: space-between;

  & > span,
  p {
    font-weight: 500;
  }
}

.cart-container .cart-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.cart-container .cart-button-wrapper .cart-button {
  font-family: inherit;
  color: var(--color-surface);
  font-size: 1rem;
  padding: 0.7rem 0;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: var(--color-hover);
  width: min(15rem, 150px);
  transition: box-shadow 0.2s linear, all var(--quick-animation) ease-in-out;

  &:hover {
    border: 1px solid var(--color-hover);
    background-color: var(--color-surface);
    color: var(--color-hover);
    cursor: pointer;
  }

  &:active {
    box-shadow: 1px 1px 6px var(--color-hover);
  }
}
